{% extends 'base.html' %}
{% block titulo %}{{ detalhe.nome }} {{ detalhe.sobrenome }} | {% endblock titulo %}


{% block conteudo %}

<h1 class="mt-5">{{ detalhe.nome }} {{ detalhe.sobrenome }}</h1>

{% if contato.foto %}
  <p>
    <img src="{{ contato.foto.url }}" style="max-width: 250px; height: auto;">
  </p>
{% endif %}

<dl>
  <dt>ID</dt>
  <dd>{{ detalhe.id }}</dd>

  <dt>Telefone</dt>
  <dd>{{ detalhe.telefone }}</dd>

  <dt>E-mail</dt>
  <dd>{{ detalhe.email }}</dd>

  <dt>Data criação</dt>
  <dd>{{ detalhe.data_criacao|date:'d/m/Y' }}</dd>

  <dt>Categoria</dt>
  <dd>{{ detalhe.categoria }}</dd>

  <dt>Descrição</dt>
  <dd>{{ detalhe.descricao }}</dd>
</dl>
{% endblock conteudo %}