{% extends 'base.html' %}

{% block conteudo %}

<h1 class="mt-5">Minha agenda</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Telefone</th>
      <th>Categoria</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a href="#"> ###### </a>
      </td>
      <td>######</td>
      <td>######</td>
      <td>Amigos</td>
    </tr>
    <tr>
      <td>
        <a href="#"> ######</a>
      </td>
      <td>######</td>
      <td>######</td>
      <td>Família</td>
    </tr>
    <tr>
      <td>
        <a href="#"> ######</a>
      </td>
      <td>######</td>
      <td>######</td>
      <td>Conhecidos</td>
    </tr>
  </tbody>
</table>

{% endblock conteudo %}